@charset "UTF-8";

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html > body, .ProseMirror > div, .toastui-editor-contents > div {
    font-family: 'NanumSquareNeo';
    text-underline-position: under;
}

.ProseMirror > div, .toastui-editor-contents > div {
    font-size: 1.25rem;
}

html>body {
	font-family: 'NEXON Lv1 Gothic OTF';
	text-underline-position: under;
}

.border-bottom-line {
	border-bottom: 1px solid #cdd0d4;
}

.reply-border {
	border: 1px solid #cdd0d4;
	border-radius: 10px;
}

.table-box-type>table {
	width: 100%;
}

.login-table>table {
	width: 50%;
}

.socialfooter {
	margin-bottom: 0;
}